@import url('https://fonts.googleapis.com/css2?family=Product+Sans&family=Roboto&display=swap');

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#board {
  position: absolute;
  top: 10px;
  left: 10px;
  min-height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 20px;
  .mdc-card__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .title {
    width: 100%;
  }
  .player {
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 100%;
    max-width: 225px;
  }
  .title, .top, .name, .amount {
    font-family: "Product Sans", "Roboto", Helvetica, Arial, sans-serif !important;
    text-align: center;
  }
  .amount {
    &::after {
      content: "dl";
    }
  }
}
